* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

body {
    text-align: center;
}

#title {
    padding: 30px
}

.quadrado {
    text-align: center;
    width: 100px;
    background: #eee;
    display: inline-block;
    padding: 15px;
    font-size: 68px;
    margin: 10px;
    cursor: pointer;
    color: #eee;
}

.vencedor, .jogador {
    font-size: 30px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
    border-radius: 5px;
}